// main: style.scss

.navbar-default {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}

.btn
{
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary
{
    background-color: #FF4F00;
    border-color: #FF4F00;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}


.btn-primary:hover
{
    background-color: #D64D10;
    border-color: #D64D10;
}

/*
 * https://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3
 */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}