// main: style.scss

.white,
.white:hover
{
    color: white;
}

h1
{
    color: #FF4F00;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
}

h2
{
    padding-bottom: 10px;
    color: #FF4F00;
    border-bottom: solid 5px #343434;
    text-transform: uppercase;
}